.App {
background-color: #ECE9DA;
font-family: 'Arial', Helvetica, Arial, Lucida, sans-serif;
font-size: 16px;
color: #424040;
line-height: 1.5;
}

.texas-ranch-sales-logo {
  width: 10rem;
  height: auto;
}

.nav-bar {
  background: #7E8A69;
  /* text-align: right; */
}

.nav-bar a {
  font-family: 'Lora', Georgia, "Times New Roman", serif;
  text-decoration: none;
  color: #303740;
  padding: 1rem;
  text-align: right;
}

.nav-bar a:focus {
  color:#745F24;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
} 

h4 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

p {
  padding-bottom: 1em;
}

.home-section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 5rem;
}

.grid-content {
  max-width: 100%;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-listings-btn-parent {
  text-align: center;
}

.home-listings-btn {
  font-family: 'Lora', Georgia, "Times New Roman", serif;
  font-size: 1.5rem;
  background: #7E8A69;
  border: 3px solid #745f24;
  border-radius: .2rem;
  color: #424040;
  padding: 6px 20px;
  transition: all .5s ease;
}


.home-listings-btn:hover:after {
  content: ' ↓';
}

.home-listings-btn:hover {
  background: rgba(0, 0, 0, 0);
  border-color: #7E8A69;
}
